<h1>お薬の編集</h1>

<%= render 'form' %>

<%= button_to '詳細', @medicine,:method => :get %> 
<%= button_to '戻る', medicines_path ,:method => :get%>
<%= button_to "日々の記録", histories_path,:method => :get <%></%>